.container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.card {
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}