.cells {
  &--first {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    animation: fadeInTopLeft 1.5s ease 0s 1 normal forwards;
  }
  &--second {
    opacity: 0;
    position: absolute;
    top: 120px;
    right: 182px;
    animation: fadeInTopRight 1.5s ease 0.1s 1 normal forwards;
  }
  &--third {
    opacity: 0;
    position: absolute;
    top: 242px;
    right: 0;
    animation: fadeInBottomLeft 1.5s ease 0.1s 1 normal forwards;
  }
  &--fourth {
    opacity: 0;
    position: absolute;
    top: 361px;
    right: 182px;
    animation: fadeInBottomRight 1.5s ease 0s 1 normal forwards;
  }
}

.content {
  &__title {
    &--Check {
      display: inline-block;
      opacity: 0;
      animation: fadeInLeft 1.5s ease 0s 1 normal forwards;
    }

    &--Eat {
      display: inline-block;
      opacity: 0;
      animation: fadeInTop 1.5s ease .3s 1 normal forwards;
    }
  }
  &__descr {
    opacity: 0;
    animation: fadeInLeft 1.5s ease 0.1s 1 normal forwards;
  }
  &__btn {
    opacity: 0;
    animation: fadeInLeft 1.5s ease 0.2s 1 normal forwards;
  }
}

@keyframes fadeInBottomLeft {
  0% {
    transform: translate(50px, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInBottomRight {
  0% {
    transform: translate(-50px, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTopRight {
  0% {
    transform: translate(-50px, -50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeInTopLeft {
  0% {
    transform: translate(50px, -50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
  z-index: 0;

  &::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: rgb(100, 92, 212);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;

  &--three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #886fe2;
  }

  &--two {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
    position: fixed;
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
